BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
ColumnLimit: 0
IndentWidth: 4
SortIncludes: false
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
PenaltyBreakAssignment: 2
